.account-form .md-form label {color: #607D8B; font-size: 13px; }
.account-form  h4 {color: #607D8B; font-size: 20px; font-weight: 300;}

.btn-account {margin-bottom: 0; margin-right: 10px; font-size: 12px; padding: 10px 15px; border-radius: 5px; background: #636364 !important; text-transform: uppercase; font-weight: 600; position: relative; z-index: 1; color: #ffffff !important; display: inline-block; }

.btn-account:after {position: absolute; right: 0; top: 0; width: 0%; height: 100%; content: ""; background-color: #fbdc85; z-index: -1; border-radius: 1px; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }
.btn-account:hover{color: #ffffff !important  }
.btn-account:hover:after {width: 100%; left: 0; right: auto; } 

.text-foot p,
.Forgot-text{color:#607D8B; font-size: 12px !important; padding: 0; line-height: 24px;}
.account-form .form-check-label{color:#607D8B; font-size: 12px !important; padding: 0; line-height: 24px;}
.account-form .prefix {
    top: 17px;
    font-size: 14px;
    color: #607d8b;
}


#loginPage .view {
    background-image: url(/images/parking-inspection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}


  #loginPage h6 { line-height: 1.7; }
  .loginForm hr{ border-color: #ffa000; margin-top: 10px; margin-bottom: 10px;}
  .loginForm .md-form{ margin-top: 1em; margin-bottom: 1em; }
  .loginForm .text-heading{ line-height: 1.5em;}
  .loginForm  p a{ color:#ffa000; line-height: 1.5em;}
  .custom-label{ font-size: 12px;}
  .loginForm input[type="text"], .loginForm input[type="email"], .loginForm input[type="password"]{
    padding-left: 5px;
  }
  .loginForm [type="checkbox"] + label:before { top: 2px; width: 15px; height: 15px; }
  .loginForm input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 2px solid #757575;
  }

  .loginForm input[type=checkbox]:checked, .loginForm [type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .loginForm input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #757575 #757575 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; 
  }
  .form-check-input[type=checkbox]+label, label.btn input[type=checkbox]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
  }

  @media (max-width: 768px) {
    #loginPage .navbar:not(.top-nav-collapse) { background: #424f95 !important; }
  }
  
.loaderSection {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000db;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999;
}
.loaderSection .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}
.forgot-password-modal {
    width: 400px;
}
.forgot-password-modal .modal-footer { border: none; }

.forgot-password-modal button.close {
    padding: 0px 5px;
    position: absolute;
    right: 0;
    z-index: 100;
    color: #607d8b !important;
    background-color: transparent !important;
    box-shadow: none;
    font-size: 20px;
}

.forgot-password-modal .modal-content h2 {
    text-align: left;
    font-size: 18px;
    color: #607D8B;
    font-weight: bold;
    padding: 10px 20px;
}

.forgot-password-modal form .form-group i{top: 17px; font-size: 14px; color: #607d8b;}
.forgot-password-modal form .form-group label{color: #607D8B; font-size: 13px;}
.account-content {display: flex;  justify-content: center; flex-direction: column; height: 100%; }
.account-content h1 {color: #fff; font-size: 35px; font-weight: 600; padding: 0;}
.account-content p{color: #fff; font-size: 14px; padding: 0; line-height: 24px;}