body.header-fixed {
	background:#e8edf2 !important;
}
.dashboard-template .app-header .nav-item .nav-link {
     padding-top: 0; 
     padding-bottom: 0; 
     background: 0; 
     border: 0; 
     color: #73818f;
}
.dashboard-template .Toastify__toast-container--top-right {
	top: 3em !important;
}
.app-header { background-color: #1e222b !important; }


/*a.profileDropDownLink {
    color: #000 !important;
    padding: 0px !important;
}*/
.app-header {
    background-color: #fbf0d0 !important;
    background: #fff;
    box-shadow: none;
    border: none;
}
 .main .container-fluid {
    padding:0  15px;
}

.breadcrumb{background-color: #e8edf2;}
.breadcrumb{margin-bottom: 0;}

 .navbar .dropdown-menu a{font-size: 12px !important;}
.sidebar .nav-link{font-size: 12px;color: #3a4248;} 
.btn[class*="btn-outline-"]{padding-top: 6px; padding-bottom: 6px; font-size: 12px;}
.card{border: none;box-shadow: none;}
.card-header {background: #fff; border-bottom: 1px solid #e8edf2; }
.sidebar{background: #ffffff; box-shadow: 0 0 30px #E0E0E4;}
.sidebar .nav-link.active,
.sidebar ul li a.nav-link:hover{color:#FFC107; background: #ffffff;}
.sidebar .nav-link.active {color: #FFC107; background: none; }
.sidebar .nav-link.active .nav-icon,
.sidebar .nav-link:hover .nav-icon{ color: #FFC107;}
.sidebar .nav-dropdown.open {background: #d5e2ef; }
.sidebar .nav-dropdown.open .nav-link {color: #1e222b;}
.sidebar .nav-dropdown.open .nav-link:hover{color:#FFC107; background: #ffffff;}
.sidebar .nav-dropdown.open a.nav-link.active {color: #FFC107; background: #fff; }
.sidebar .sidebar-minimizer,
.sidebar .sidebar-minimizer:hover{background:#ffc107}
.sidebar-minimized .sidebar .sidebar-minimizer{background:#ffc107}
.breadcrumb{border: none;}
.breadcrumb li.breadcrumb-item {color: #797d80; font-size: 10px; }

footer.app-footer {background: #fff; border: none; font-size: 12px; }

a.btn-edit, button.btn-edit {background: #fff; padding: 5px; width: 30px; height: 30px; border: 1px solid #4CAF50; text-align: center; border-radius: 5px; margin: 0 2px; color: #4CAF50; display: inline-block; }
a.btn-delete, button.btn-delete {background: #fff; padding: 5px; width: 30px; height: 30px; border: 1px solid #F44336; text-align: center; border-radius: 5px; margin: 0 2px; color: #F44336; display: inline-block; }
a.btn-view, button.btn-view {background: #fff; padding: 5px; width: 30px; height: 30px; border: 1px solid #ffc108; text-align: center; border-radius: 5px; margin: 0 2px; color: #FFC107; display: inline-block; }

.oep-em-info{background: #fff; padding: 10px; border-radius: 2px;}
.mainHeading{display: flex; align-items: center; right: 0;}
.categoryAdd {position: absolute; right: 0; top: 0; border: none; background:#4caf50; font-weight: bold; color: #fff; font-size: 12px; box-shadow: none; }

.search-filter {background: #ffffff; padding: 10px; margin-bottom: 20px; border-radius: 2px; border: 1px solid #eee; }
.search-filter .row{margin-left: -5px; margin-right: -5px}
.search-filter .row .col-md-3,
.search-filter .row .col-md-4,
.search-filter .row .col-md-5,
.search-filter .row .col-md-6,
.search-filter .row .col-md-12,{padding-left:5px; padding-right:5px}

.search-filter .form-group{margin-bottom: 0;}
.search-filter .form-group label {margin-bottom: 0; font-weight: 500; font-size: 12px; } 
.search-filter .form-group .form-control {font-size: 12px; padding: 8px; height: auto; box-shadow: none; outline: none; }
.search-filter button.search-btn{background: #ff9800  !important; color: #fff; font-weight: bold; border: none; box-shadow: none; }
.reset-btn {background: #070707 !important; color: #ffffff; font-weight: 600; border: none; box-shadow: none; text-transform: inherit; }

.filter-button-section {padding-top: 15px; }
.search-btn {background: #141310 !important; color: #fff !important; font-weight: 600; border: none; box-shadow: none; text-transform: initial; opacity: 1 !important; }
.search-btn:hover,
.search-btn:focus, 
.search-btn:active, 
.search-btn.active{background: #141310;}

.oep-table .MuiTableCell-root p{margin-bottom: 0}
.oep-table .MuiToolbar-regular {
    min-height: 50px;
}
.oep-model form .row{margin-left: -5px; margin-right: -5px}
.oep-model form .row .col-md-3,
.oep-model form .row .col-md-4,
.oep-model form .row .col-md-6,
.oep-model form .row .col-lg-12{padding-left:5px; padding-right:5px}
.oep-model .modal-header {
    background: #fff;
}

.oep-model h5.modal-title {font-size: 14px; font-weight: bold; color: #000; }
.oep-model .modal-footer{padding: 5px}
.oep-model .form-group label {margin-bottom: 0; font-weight: 500; font-size: 12px; } 
.oep-model .form-group .form-control {font-size: 12px; padding: 8px; height: auto; box-shadow: none; outline: none; }
.btnCancel{background: #f81a0a !important; color: #ffffff !important; font-weight: 600; border: none; box-shadow: none; text-transform: inherit; }
.btnCancel:hover,
.btnCancel:focus, 
.btnCancel:active, 
.btnCancel.active{background: #f81a0a !important; box-shadow: none !important; }


.submit-btn{background: #4CAF50  !important; opacity: 1 !important; color: #ffffff !important; font-weight: 600; border: none; box-shadow: none; text-transform: inherit; }

.header-fixed .app-body {
    margin-top: 105px;
}

tfoot.MuiTableFooter-root .MuiTableCell-root{padding:0 !important;}
.navbar .navbar-nav .nav-item{margin-left: 0px;}
.Create-filter .form-group .form-control, .oep-form .form-control, .search-filter .form-group .form-control, .oep-model .form-group .form-control, .oep-model .form-group .form-control{height: 35px;}

.organization-nav-card {    padding: 15px 0; background: #fff; position: relative; width: 100%; box-shadow: 0 19px 34px -15px #d2d2f2; -webkit-box-shadow: 0 19px 34px -15px #d2d2f2; -moz-box-shadow: 0 19px 34px -15px #d2d2f2; }
.organization-menu li a.nav-link.nav-link {color: #1d1d1d; font-size: 13px; font-weight: 400; }
.organization-menu li a i {margin-right: 5px; font-size: 16px; color: #e3ab36; font-weight: 400; }
.header-top {
    width: 100%;
    display: flex;
}
.organization-menu .dropdown-menu {
    background: #fff;
    border-top: none;
    border-radius: 4px;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08);
}

/*.header-fixed .organization-nav-card {
    position: fixed;
    z-index: 1020;
    width: 100%;
}*/
.organization-menu .dropdown-item{font-size: 12px}
.organization-menu .dropdown .dropdown-menu .dropdown-item:active,
.organization-menu .dropdown-item:hover, .organization-menu .dropdown-item:focus {
    background-color: #fff; color: #1d1d1d;outline: none;
}