.payment-card.card {
    border: 1px solid #cedeef;
    text-align: center;
    position: relative;
    border-top: 2px solid #e3ab37;
}

.payment-card .card-title{background: #e3ab36;
    padding: 8px;
    color: #ffff;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    font-size: 12px;}
a.payment-Button {
    background: #e3ab37;
    padding: 8px 15px;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 15px;
    display: inline-block;
}

.payment-Button {
    background: #FF9800;
    padding: 8px 30px;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.payment-card .card-subtitle{font-size: 14px;
    font-weight: bold;margin-bottom: 15px;}

 .payment-card .card-text {
    font-size: 13px !important;
    color: #000 !important;
    font-weight: 500 !important;
    margin-bottom: 5px;
}

.termsCondition {
    width: 100%;
}
.how-it-section {background: #F7F8FF;background: -webkit-linear-gradient(to right, #ffeff5, #f0f0ff);
background: linear-gradient(to right, #ffeff5, #f0f0ff);}
.pricing-plan {
    background: #ffffff;
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f3f3f3 50%, #ededed 50%, #ffffff 100%);
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 50%,#ededed 50%,#ffffff 100%);
background: linear-gradient(135deg,  #ffffff 0%,#f3f3f3 50%,#ededed 50%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );

    padding: 20px;
    position: relative;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #eee;
        text-align: left;
}

.pricing-plan h2 {
    font-size: 16px;
    font-weight: bold !important;
    color: #607D8B;text-align: left;
}
.point-list li {
    text-align: left;
    font-size: 13px;
    padding-bottom: 3px;
}

.lastPrice {
        margin-bottom: 20px;
    font-size: 24px;
    padding: 0;
    color: #607d8b;
    font-weight: bold;
    text-align: left;
}

.lastPrice span {
    font-size: 12px;
    font-weight: 500;
}

.point-list{list-style: none;margin: 0; padding: 0;}

.internal-page-section{padding: 0 0 2.5rem 0;}
.red-tem .pricing-divider{
background: #D3145A;
}
.violet-item .pricing-divider{
background: #8141AA;
}
.yellow-item .pricing-divider {
background: #F9B536;
}
.dark-blue-item .pricing-divider{
background: #2E3192;
}
.red-tem b {
color:#d3145a;
}
.violet-item b {
color:#8141aa;
}
.yellow-item b {
color:#f9b536;
}
.dark-blue-item b{
color:#2e3192;
}
.pricing-divider-img {
position: absolute;
bottom: -2px;
left: 0;
width: 100%;
height: 80px;
}
.deco-layer {
-webkit-transition: -webkit-transform 0.5s;
transition: transform 0.5s;
}
.btn-custom.btn-default {
background:#C64545; color:#fff; border-radius:20px; padding: 0.3rem 2rem; font-size: 16px; border:none;
}
.btn-custom.btn-default:hover{color: #fff;}
.img-float {
width:50px; position:absolute;top:-3.5rem;right:1rem
}
.princing-item {
transition: all 150ms ease-out;
margin-bottom: 20px;
}
.princing-item:hover {
transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
-webkit-transform: translate3d(15px, 0, 0);
transform: translate3d(15px, 0, 0);
}
.princing-item:hover .deco-layer--2 {
-webkit-transform: translate3d(-15px, 0, 0);
transform: translate3d(-15px, 0, 0);
}
.princing-item:hover .deco-layer--3 {
-webkit-transform: translate3d(-15px, 0, 0);
transform: translate3d(-15px, 0, 0);
}
.container-fluid.bg-gradient.p-5{padding: 1rem 1rem 3rem 1rem !important;}

.OfferTopHeading{padding: 0rem 0rem 1rem 0; }
.OfferTopHeading .OfferContentFirst p{font-size: 14px !important;}
.OfferContentFirst{width: 70%; margin: auto; text-align: center;}
.OfferContentSecond {background: #f5ebdc; padding: 15px; margin-bottom: 20px; border-left: 2px solid #FF9800; }

.OfferContentSecond h4 {padding-bottom: 0px !important; font-weight: bold !important; font-size: 14px; }
.OfferContentSecond ul {margin: 0; padding: 0 0 0 20px; list-style: circle; }
.OfferContentSecond ul li {line-height: 22px; font-size: 13px; }
.OfferTopHeading p {font-size: 13px; color: #925802; font-weight: 600; margin-bottom: 10px; }
.OfferTopHeading p a {color: #FF9800; border: 2px solid #FF9800; padding: 5px 10px; border-radius: 2px; }
.termsCondition p{font-style: italic; font-size: 14px; margin:30px 0 0 14px; }
.ContentHeight-fix{height: 230px; min-height: 230px;}
.btn-custom.ads-fix-button {position: relative;
bottom: 0;
left: 0;
right: 0;
margin: auto; }
.violet-item button.btn-custom.ads-fix-button{background: #8141AA;}
.red-tem button.btn-custom.ads-fix-button{background: #D3145A;}
.yellow-item button.btn-custom.ads-fix-button{background: #F9B536;}
.dark-blue-item button.btn-custom.ads-fix-button{background: #2E3192;}
.princing-item .card-body {padding: 0 .4rem 1.25rem .4rem; line-height: 24px; font-size: 13px;}
.terms-and-condition {
font-size: 12px;
text-align: left;
display: inline-block;
line-height: 20px;
font-weight: 500;
color: #484951;
margin-bottom: 20px;
padding: 0px 5px;
}
.terms-and-condition a{color:#2e3192}
.ContentHeight-inner {
height: auto;
min-height: 90px;
}

/*Plan*/

.plan-section{padding: 2rem 1rem; position: relative; background: #f4f7fb;}
.plan-section:after {content: ''; position: absolute; background: url(/images/ft-strip1.png); z-index: 9; height: 14px; width: 100%; bottom: -12px; }

.plan-section .heading-title{margin-bottom: 30px; margin-top: 0px;}
.plan-section  .heading-title h2 {font-weight: 700; padding: 0; color: #000000; margin-bottom: .5rem; font-size: 2.0rem; }
.plan-section  .heading-title p {color: #6c757d; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px; margin-top: 0px;}
.plan-content-intro .row{margin-left: -2px; margin-right: -2px;}
.plan-content-intro .row .col-md-3{padding-left: 2px; padding-right: -2px;}

.plan-intro-card {/* -webkit-box-shadow: 0 3px 10px rgba(8,25,50,.1); */-moz-box-shadow: 0 3px 10px rgba(8,25,50,.1);-ms-box-shadow: 0 3px 10px rgba(8,25,50,.1);/* box-shadow: 0 3px 10px rgba(8,25,50,.1); */background: #f9fbff;height: 100%;padding: 20px;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px;background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 1%, #f4f9fc 100%);background: -webkit-linear-gradient(top,  #ffffff 1%,#f4f9fc 100%);background: linear-gradient(to bottom,  #ffffff 1%,#f4f9fc 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f9fc',GradientType=0 );border:1px solid #e9f0f3;}
.app .plan-intro-card h2 {font-size: 24px; margin-bottom:0px; font-weight: bold; color:#5d676b; padding: 0; }
.plan-intro-card  p {color: #5d676b; font-weight: 500; font-size: 16px; }
.price-info {display: flex; align-items: center; position: relative; padding-top: 20px; padding-bottom: 20px; }
.price-value {font-size: 2.5em; font-weight: 700; margin: 0; padding: 0; color: #5d676b; }
.price-per{font-size: 12px; padding-left: 15px;}
.plan-point-list {margin-top: 10px; margin-bottom: 10px; position: relative; border-top: 1px solid rgba(8,25,50,.1); padding: 20px 0; }
.plan-point-list h4 {font-size: 16px; font-weight: bold; padding: 0; }
.plan-point-list ul {margin: 0; padding: 0 0 0 20px; list-style: circle; }
.plan-point-list ul li{position: relative;color: #5d676b; font-weight: 500; font-size: 14px;}
.btn-conversion {background: #002164; color: #fff; font-size: 16px !important; padding: 10px 25px; border-radius: 5px; font-weight: bold; }
.btn-conversion:hover{color:#fff;}
.current-plan{background: #002164;}
.app .current-plan h2,
.current-plan  .price-value,
.current-plan .price-per,
.current-plan .plan-point-list h4,
.current-plan .plan-point-list ul li{color: #fff;}
.current-plan .plan-point-list{border-color: #2d519a;}
.current-plan .btn-conversion{background: #fff; color: #002164; }
.plan-intro-card{ overflow: hidden;}
.plan-intro-card .ribbon {
  width: 160px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  color: #002164;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 4px; 
}