body.header-fixed.weekly-graph-page {
    background: #fff !important;
}
.btn-outline-secondary {
    color: #e3ab36 !important;
    background-color: transparent !important;
    border: 2px solid #e3ab36 !important;
}

.btn-outline-secondary:not([disabled]):not(.disabled):active, 
.btn-outline-secondary:not([disabled]):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: transparent !important;
    border-color: #e3ab36 !important;
    color: #e3ab36 !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary.active {
    color: #e3ab36 !important;
    background-color: transparent !important;
    border-color: #e3ab36 !important;
}

.storewalk-H.grey-bg{
    background: #f2f2f2;
}

.storewalk-H.light-blue-bg{
    background: #dce6f1;
}

.storewalk-H.light-orange-bg{
    background: #fde9da;
}

.light-orange-bd.card{
    border: 10px solid #fde9da !important;
}

.light-blue-bd.card{
    border: 10px solid #dce6f1 !important;
}

.storewalk-H {
    padding: 8px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.storewalk-H p{
    margin-bottom: 0px;
    font-size: 17px;
}

.card{
    border: 10px solid #f2f2f2 !important;
}

h5 {
    color: #000;
    font-weight: 400;
    font-size: 10px;
    line-height: 21px;
}

