.oep-challenge {
    padding: 8px 10px;
    color: #fff !important;
    font-weight: bold;
    margin-left: 10px;
}

.btn:hover, .btn:focus, .btn:active, .btn-ye:hover {
    outline: 0;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    text-decoration: none !important;
}