.react-form-builder .react-form-builder-preview .Sortable .rfb-item .toolbar-header .label {
    position: relative;
}


#templateBuilderPage .react-form-builder .react-form-builder-preview.is-editing .edit-form {   
    left: 206px;
    top: 61px;
}
#templateBuilderPage .form-place-holder {
    min-height: 600px;
}
.react-form-builder-preview .Sortable + div[draggable="true"]{
    min-height: 600px;
}
.show {
    display: block;
}
.form-builder-preview { top: 100px; }
.form-builder-preview .react-form-builder-form { padding: 0px 20px; }
.pdf-toolbar .categoryAdd { right: 70px; }
.modal-content.form-builder-preview { max-height: 580px; overflow-y: scroll;}
.modal-content.form-builder-preview .modal-header { padding: 0rem 1rem; }
.form-builder-preview .modal-header a { padding: 0.25rem 0.75rem; }

.template-input-card {
    position: sticky;
    top: 50px;
    background: #fff;
    z-index: 9;
    border: 1px solid #eee;
        padding: 10px;
}
.template-builder-preview-drop {
    width: 100%;
    max-height: 690px;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
}

.react-form-builder .react-form-builder-preview {
    width: 100%;
    min-height:inherit;
}
.previewButton {
    width: 89%;
}
.preview-template .modal-header h4 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 10px 0;
}

.form-builder-preview {
    max-height: 440px;
    overflow-y: scroll;
    background: #e8edf2;
    padding: 10px 0;
}
.preview-template .rfb-item {
    padding: 10px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.preview-template .rfb-item .form-label span{font-size: 12px;
    font-weight: 600;}

.preview-template .rfb-item h3.static {font-size: 15px; font-weight: bold; margin-bottom: 10px; }
.preview-template {top: 5%; }
.btn-bl {background-color: #2196F3 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-gr {background-color: #4caf50 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-re {background-color: #ff1100 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-ye {background-color: #ffc107 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
section.pdf-toolbar {
    padding: 0px 15px;
}

.react-form-builder .react-form-builder-toolbar {
    width: 100% !important;
    margin-top: 0px !important;
}
.react-form-builder .react-form-builder-toolbar ul{margin-bottom: 0;}
.react-form-builder .react-form-builder-toolbar ul li {
    width: 17% !important;
    display: inline-block !important;
        margin: 0 8px 8px 0 !important;

}
.Create-filter{background: #ffffff; padding: 10px; margin-bottom: 10px; border-radius: 2px; border: 1px solid #eee;}
 .Create-filter .row{margin-left: -5px; margin-right: -5px}
.Create-filter .row .col-lg-3,
.Create-filter .row .col-lg-4,
.Create-filter .row .col-lg-6{padding-left:5px; padding-right:5px}
.Create-filter .form-group label {margin-bottom: 0; font-weight: 500; font-size: 12px; } 
.Create-filter .form-group .form-control {font-size: 12px; padding: 8px; height: auto; box-shadow: none; outline: none; }

.FormBuilderArea h2 {font-size: 13px; font-weight: bold !important; padding: 0; }
.FormBuilderArea .react-form-builder-toolbar h4{display: none;}
.FormBuilderArea .template-builder-tollbar {background: #ffffff;  display: inline-block; width: 100%; position: sticky; top: 0; }
.create-heading.card-header {
    padding: 0;
}
.FormBuilderArea h3 {font-size: 13px; font-weight: bold !important; border-bottom: 1px solid #eee; padding: 0px 0 20px; margin: 0 0 20px 0; }
.template-preview-card .templatePreview1 {
    display: inline;
    position: absolute;
    right: 0px;
    top: -13px;
}
.custom-info-row {
    margin-top: 23px;
}