.react-form-builder .react-form-builder-preview .Sortable .rfb-item .toolbar-header .label {
	position: relative;
}
#templateBuilderPage {
    max-height: 600px;
    overflow: scroll;
}
#templateBuilderPage .react-form-builder .react-form-builder-preview.is-editing .edit-form {   
    left: 206px;
    top: 61px;
}
#templateBuilderPage .form-place-holder {
    min-height: 600px;
}
.react-form-builder-preview .Sortable + div[draggable="true"]{
	min-height: 600px;
}
.templatePreview {
	display: none;
}