body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}
/*============================================================
        main-banner-content
============================================================*/
.main-slider-content {display: flex;  justify-content: center; flex-direction: column; height: 100%; }
.main-slider-content h1 {color: #fff; font-size: 35px; font-weight: 600; padding: 0;}
.main-slider-content p{color: #fff; font-size: 14px; padding: 0; line-height: 24px;}





.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}
.homepage-search-bar{ position: absolute; top: 10%; left: 10%; z-index: 9;}
.search_form .col-md-3, .search_form .col-md-1{ padding-left: 10px; padding-right: 10px; }
.search-box-bg{ background:  rgba(0, 0, 0, 0.5) }
.view.home-bg{background-image: url(/images/architecture-bg.jpg); background-repeat: no-repeat; background-position: top center; background-size: cover; min-height: 650px; } .view .gradient {background: rgba(39, 39, 41, 0.54); }
.btn-Started{margin-bottom: 0; margin-right:10px;font-size: 12px;padding: 10px 15px;border-radius: 5px;background: transparent;text-transform:uppercase;font-weight: 600;position: relative;z-index: 1;color: #fbdc85 !important;border: 1px solid #fbdc85;display: inline-block;} 
.btn-Started:after {position: absolute; right: 0; top: 0; width: 0%; height: 100%; content: ""; background-color: #fbdc85; z-index: -1; border-radius: 1px; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }
.btn-Started:hover{color: #ffffff !important  }
.btn-Started:hover:after {width: 100%; left: 0; right: auto; } 

.btn-Download{margin-bottom: 0;padding: 10px 15px;font-size: 12px;border-radius: 5px;background: transparent;text-transform:uppercase;font-weight: 600;position: relative;z-index: 1;color: #ffffff !important;border: 1px solid #ffffff;display: inline-block;} 
.btn-Download:after {position: absolute; right: 0; top: 0; width: 0%; height: 100%; content: ""; background-color: #ffffff; z-index: -1; border-radius: 1px; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }
.btn-Download:hover{color: #fcd34e  !important }
.btn-Download:hover:after {width: 100%; left: 0; right: auto; } 

/*.view .gradient{
  background: linear-gradient(45deg, rgba(255, 225, 138, 0.65), rgba(255, 211, 146, 0.50) 100%);

  background: -moz-linear-gradient(45deg, rgba(29, 0, 255, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(29, 0, 255, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(29, 0, 255, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(29, 0, 255, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(45deg, rgba(29, 0, 255, 0.7), rgba(29, 210, 177, 0.7) 100%);
}*/


.mask.gradient { z-index: 9; }
.home-slider{ max-height: 650px; overflow: hidden;}

/*homepage search section */
.banner-middle-area{ margin-top: 10em;}
.search_form .md-form label, .search_form .md-form .form-control{ color: #ffffff;}
.search_form input[type=search]:focus:not([readonly]) + label, .search_form .md-form input[type=text]:focus:not([readonly]) + label{
  color: #ffffff;
}
.search-btn{  margin-top: 32px; padding: 0.6rem 1.3rem; margin-left: 0px;}

.featured-section{ background:#f4f7fe;}
/*============================================================
				Download app
============================================================*/
#download-app{
  background-image: url(/couple-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.download-section{
  margin-top: 130px;
  position: relative;
  z-index: 1;
  background: url(/couple-bg.jpg) center center no-repeat fixed;
}

.download-section:after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: -webkit-linear-gradient(150deg, rgba(253, 191, 0, 0.65) 15%, rgba(143, 110, 213, 0.7) 70%, rgba(215, 130, 217, 0.5) 94%);
  background: -moz-linear-gradient(150deg, rgba(253, 191, 0, 0.65) 15%, rgba(143, 110, 213, 0.7) 70%, rgba(215, 130, 217, 0.5) 94%);
  background: -ms-linear-gradient(150deg, rgba(253, 191, 0, 0.65) 15%, rgba(143, 110, 213, 0.7) 70%, rgba(215, 130, 217, 0.5) 94%);
  background: -o-linear-gradient(150deg, rgba(253, 191, 0, 0.65) 15%, rgba(143, 110, 213, 0.7) 70%, rgba(215, 130, 217, 0.5) 94%);
  background: linear-gradient(150deg, rgba(253, 191, 0, 0.65) 15%, rgba(143, 110, 213, 0.7) 70%, rgba(215, 130, 217, 0.5) 94%);
}
.download-app-img{
  margin-top: -94px;
}

.download-app-text{
  padding: 93px 0;
}
.download-app-text h3{
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}
.download-app-text h3, .download-app-text p{
  color: #fff;
}
.download-app-button{
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 40px;
  transition: all 0.3s ease-in;
}
.download-btn i{
  font-size: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #fff;
}
.download-btn{
  border: 1px solid #fff;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  float: left;
  padding: 3px 25px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.download-btn p small{
  font-size: 12px;
  line-height: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.download-btn p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 1024px) and (min-width: 320px){
  .download-app-img{
      display: none;
  }
}

.download-app-button a:hover{
  background: #fff;
}
.download-app-button a:hover p, .download-btn.hover-active p{
  color: #f1cf7c;
}
.download-app-button a:hover i, .download-btn.hover-active i{
  background: linear-gradient(to bottom, #dcb15d 15%, #f9da87 70%, #ebc674 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.download-btn.hover-active{
  background: #fff;
}
/*==================================
        Why is it so great?
====================================*/
.icon-arrow{color: #f9dd8f }
.yellow-text1 {
    color: #FFC107;
}
.why-section .heading-title h2{color: #607D8B; font-weight: bold;  text-align:center;font-size: 30px;}
.why-section .heading-title p{color: #607D8B;font-size: 14px; text-align:center;padding: 0; line-height: 24px;}


.why-col p{color: #607D8B;font-size: 14px; padding: 0; line-height: 24px;}
.why-col h5{color: #607D8B;
    line-height: 24px;
    font-size: 18px;}

 /*==================================
        featured CSS
====================================*/

.single-featured-box {text-align: center; position: relative; padding: 115px 25px 40px; overflow: hidden; background-color: #fff; border-radius: 5px; box-shadow: 0 15px 30px rgb(228, 235, 251); }
.single-featured-box .icon i {font-size: 68px; color: #03A9F4; }
.single-featured-box .icon {transition: .4s; color: #ee0979; position: absolute; top: 40px; left: 50%; transform: translate(-50%,0); margin-top: -12px; }
.single-featured-box:hover .icon {top: 23px; -webkit-animation: .4s ease-in-out; animation: .4s ease-in-out; }
.single-featured-box h3 {transition: .4s; margin-bottom: 10px; font-weight: 400; color: #607D8B; line-height: 24px; font-size: 18px; }
.single-featured-box p {transition: .4s; margin-bottom: 0; color: #607D8B; font-size: 14px; padding: 0; line-height: 24px; }
.single-featured-box:hover h3, 
.single-featured-box:hover p {transform: translateY(-20px); }
.read-more-btn {display: inline-block; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); opacity: 0; visibility: hidden; transition: .6; font-size: 13px; font-weight: 500; color: #f0bc5e; border: 1px solid; padding: 5px 15px; }
.read-more-btn::before {content: ""; position: absolute; left: 0; bottom: 1px; width: 0; transition: .5s; height: 1px; background: #03A9F4; }
.single-featured-box:hover .read-more-btn {opacity: 1; visibility: visible; bottom: 23px; }



.features-section .heading-title h2{color: #607D8B; font-weight: bold;  text-align:center;font-size: 30px;}
.featured-section .heading-title p{color: #607D8B;font-size: 14px; text-align:center;padding: 0; line-height: 24px;}

.features-card h4{color: #607D8B;
    line-height: 24px;
    font-size: 18px;}
.features-card p {
    color: #607D8B;
    font-size: 14px;
    padding: 0;
    line-height: 24px;
}

 /*==================================
        10. COUNTER SECTION CSS
====================================*/
.counter-card {border: 1px solid #d3d9e6;    align-items: center; border-radius: 5px; position: relative; padding: 20px; display: flex; justify-content: center; flex-direction: column; }
.counter-text {margin-bottom: 0; color: #607D8B; font-size: 14px; padding: 0; line-height: 24px; }
.counter-value {margin-bottom: 10px; font-weight: 600; color: #607D8B; line-height: 24px; font-size: 25px; }
.yellow-text1 {color: #FFC107; }



.product-counter-section{ display: block;}
.counter-content-wrap i{
  float: left;
  margin-right: 15px;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  align-items: center;
  top: 8px;
  background: linear-gradient(to bottom, #dcb15d 15%, #f9da87 70%, #ebc674 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-counter-section .counter-title {
      transition: .4s;
    margin-bottom: 10px;
    font-weight: 400;
    color: #607D8B;
    line-height: 24px;
    font-size: 18px;
}
.counter-content-wrap p {
    margin-bottom: 0;
    color: #607D8B;
    font-size: 14px;
    padding: 0;
    line-height: 24px;
}
.product-counter-section .counter-list {
  font-size: 1.143rem;
}
.product-counter-section .counter-list li {
  text-align: center;
  margin: 0 40px;
}
.product-counter-section .counter-list .count {
  font-size: 1.571rem;
  margin-bottom: 5px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.product-counter-section .counter-list .title {
  display: block;
  font-size: 16px;
}
.product-counter-section .counter-list li:nth-child(3n+1) .count {
  color: #f6c628;
}
.product-counter-section .counter-list li:nth-child(3n+2) .count {
  color: #4caf50;
}
.product-counter-section .counter-list li:nth-child(3n+3) .count {
  color: #03a9f4;
}

@media (max-width: 768px){
  .product-counter-section .counter-title, .counter-content-wrap p {
      text-align: center;
  }
  .product-counter-section .counter-list li {
    margin: 10px 10px;  
  }
  .counter-content-wrap span{
      text-align: center;
      display: block;
      margin-bottom: 15px;
      float: none;
  }
}

@media (max-width: 767px) {
  .homepage-search-bar {
    position: relative;
    margin-top: -40%;
    left: 0;
    z-index: 99;
  }
  .ageToLabel{ display: none;}
  .search-box-bg{ background: rgba(0, 0, 0, 1)}
  .banner-middle-area{ margin-top:3px; }
  .banner-middle-area h2{ font-size: 1.5em;}
  .loginBtn{ margin: 0 0 10px 0;}
  .product-counter-section .counter-list {
      text-align: center;
      margin-top: 20px;
  }
  .download-section{ margin-top: 20px;}
  .download-app-text{ padding: 30px 0;}
  .download-app-button{ padding-top: 20px;}
  .download-btn{ padding: 3px 15px;}
  .download-btn.hover-active{ margin-right: 0;}
}