#loginPage .view {
    background-image: url(/images/architecture-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}

  #loginPage h6 { line-height: 1.7; }
  .loginForm{ margin-top: 6em;}
  .loginForm hr{ border-color: #FDBF00; margin-top: 10px;}
  .loginForm .md-form{ margin-top: 1em; margin-bottom: 1em; }
  .loginForm .text-heading{ line-height: 1.5em;}
  .custom-label{ font-size: 12px;}
  

  @media (max-width: 768px) {
    #loginPage .navbar:not(.top-nav-collapse) { background: #424f95 !important; }
  }
  
