.sidebar-fixed {
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
  }
    
  .flexible-navbar {
    transition: padding-left 0.5s;
    padding-left: 250px;
    background: #fff;
  }
  .navbar-dark{ background-color: rgba(28, 35, 49, 0.8);}
  #content{
    margin-left: 270px;
  }    
  
  .sidebar-fixed .logo-wrapper img{
    width: 100%;
    padding: 1rem;
  }

.dashboard-content{ margin-left: 270px; margin-top: 1em; margin-bottom: 5em; }
.dashboard-content .md-form{  margin-top: 1rem; margin-bottom: 1rem;}
.modal-dialog.cascading-modal .modal-header{ padding: 1rem; margin-bottom: 0px;}
.dropdown-menu {  min-width : 14rem;}