.react-form-builder .react-form-builder-preview .Sortable .rfb-item .toolbar-header .label {
	position: relative;
}
#templateBuilderPage {
    max-height: 600px;
    overflow: scroll;
}
#templateBuilderPage .react-form-builder .react-form-builder-preview.is-editing .edit-form {   
    left: 206px;
    top: 61px;
}
#templateBuilderPage .form-place-holder {
    min-height: 600px;
}
.react-form-builder-preview .Sortable + div[draggable="true"]{
	min-height: 600px;
}
.templatePreview {
	display: none;
}
.hide {
    display: none;
}
.btnCancel{color: #fff;}
.btnFont-size.btnRemove{margin-top: 28px;}
.btnFont-size{font-size: 12px; margin: 4px 0 20px 0;    padding: 7px 17px;}

.previewTemplateIcon {margin-top: 5px; float: right; }