.feedBackPreview .pdf-toolbar .categoryAdd {
	right: 90px;
}

.btn-bl {background-color: #2196F3 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-gr {background-color: #4caf50 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-re {background-color: #ff1100 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
.btn-ye {background-color: #ffc107 !important; padding: 8px 10px; color: #fff; font-size: 12px; border-radius: 3px; display: inline-block; font-weight: bold; border: none; box-shadow: none; }
section.pdf-toolbar {
    padding: 0px 15px;
}
.feedBackPreview .rfb-item .form-label span{font-size: 12px;
    font-weight: 600;}

.feedBackPreview .rfb-item h3.static {font-size: 15px; font-weight: bold; margin-bottom: 10px; }
.feedBackPreview {top: 5%; }